body {
  margin: 0;
  padding: 0;
}

.head {
  color: white;
  text-align: center;
}


.pd {
  padding-left: 50px;
}

.pd_start {
  padding-left: 110px;
}

.pd_end {
  padding-right: 200px;
}

.gm {
  font-weight: 900;
  font-size: large;
}

.dot {
  color: green;
  font-weight: 900;
  font-size: larger;
}

.hover img :hover {
  background-color: black;
}

.hover .top-left {
  position: absolute;
  top: 15px;
  left: 16px;
  padding: 5px 10px;
  color: white;
  background-color: green;
  border-radius: 6px;
}



/* card hover */
.details {
  position: absolute;
  top: 0;
  display: none;
}

.hover:hover .details {
  display: block;
  flex-wrap: wrap;
}

.hover:hover .photo img {
  transform: scale(1.05);
  transition: transform 1s;
}

.card-img {
  height: 320px;
  width: 213px;
}

.card {
  --bs-card-bg: none;
  --bs-card-border-color: none;
}


.afont {
  color: rgb(157, 201, 90);
  font-size: 60px;
}

.number {
  color: rgb(157, 201, 90);
  font-size: 60px;
}

.resize {
  max-width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width:576px) {
  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    display: block;
    margin: 0;
    flex: 0 0 calc(100%/3);
  }
}

.carousel-inner {
  padding: 1em;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .img-wrapper .hex-img {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-height: 100%;
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 32%;
    display: block;
  }
  .hex-img .carousel-item {
    margin-right: 0;
    flex: 0 0 20%;
    display: block;
  }

  .carousel-inner {
    display: flex;
  }
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

.contraiiner1 {
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-green {
  height: 0;
  width: 490px;
  border-top: 150px solid rgb(157, 201, 90);
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  position: relative;
}

.hexagon-green:before {
  position: absolute;
  content: '';
  height: 0;
  width: 490px;
  border-bottom: 150px solid rgb(157, 201, 90);
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  bottom: 150px;
  left: -100px;
}

.hexagon-white {
  height: 0;
  width: 470px;
  border-top: 150px solid rgba(231, 215, 215, 0.8);
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  position: relative;
}

.hexagon-white:before {
  position: absolute;
  content: '';
  height: 0;
  width: 470px;
  border-bottom: 150px solid rgba(231, 215, 215, 0.8);
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  bottom: 150px;
  left: -100px;

}

.parent {
  position: relative;
  top: 200px;
  left: 0;
  width: 100%;
}

.image1 {
  position: relative;
  left: -10px;
}

.image2 {
  position: absolute;
}

.image3 {
  position: absolute;
  top: -100px;
}

.container-hex{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-hex .hexagon{
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0px auto;
}

.container-hex .hexagon .shape{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}

.container-hex .hexagon .shape img{
  width: 100%;
}

.card-hover:hover{
  top: -50px;
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 1s ease-in-out;
  z-index: 1;
  color: rgb(157, 201, 90);
}

.card .card-hover{
  border: none;
}


.green-Text{
  color:  rgb(157, 201, 90);
}



/* countdown */














/* general styling */
h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  list-style-type: none;
}

li span {
  display: block;
  font-size: 2.5rem;
}

.circle{
  height: 100px;
  width: 100px;
  border: 1px;
  background-color: gray;
  color: aliceblue;
  border-radius: 50%;
  padding-left: 25px;
}
