.head{
    color: white;
    text-align: center;
}


.pd{
    padding-left: 50px;
}

.pd_start{
    padding-left: 110px;
}

.pd_end{
    padding-right: 200px;
}

.gm{
    font-weight: 900;
    font-size: large;
}

.dot{
    color: green;
    font-weight: 900;
    font-size: larger;
}

.hover img :hover{
    background-color: black;
}

.hover .top-left {
    position: absolute;
    top: 15px;
    left: 16px;
    padding: 5px 10px;
    color: white;
    background-color: green;
    border-radius: 6px;
  }



  /* card hover */
.details{
    position: absolute;
    top: 0;
    display: none;
}

.hover:hover .details{
    display: block;
    flex-wrap: wrap;
}

.hover:hover .photo img{
    transform: scale(1.05);
    transition: transform 1s;
}

.card-img{
    height: 320px;
    width: 213px;
}

.card{
    --bs-card-bg: none;
    --bs-card-border-color: none;
}


/* img overlay */
.parent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .image1 {
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    width: 600px;
  }
  .image2 {
    position: absolute;
    top: -185px;
    left: 85px;
    rotate: 90deg;
    height: 770px;
    width: 455px
  }

  .image3 {
    width: 100%;
    justify-content: center;
  }

  /* .parent .image1{
    width: 100%;
  }
  .parent .image2{
    height: 100%;
  } */

  .afont {
    color: rgb(157, 201, 90);
    font-size: 60px;
  }

  .number{
    color: rgb(157, 201, 90);
    font-size: 60px;
  }

  .resize{
    max-width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  img{
    max-width: 100%;
    max-height: 100%;
  }

@media screen and (min-width:576px) {
    .carousel-inner{
      display: flex;
    }
    .carousel-item{
      display: block;
      margin: 0;
      flex: 0 0 calc(100%/3);
    }
  }
.carousel-inne{
  padding: 1em;
}

.card{
  margin: 0.5em;
}