.head{
    color: white;
    text-align: center;
}


.pd{
    padding-left: 50px;
}

.pd_end{
    padding-right: 250px;
}

.gm{
    font-weight: 900;
    font-size: large;
}

.dot{
    color: green;
    font-weight: 900;
    font-size: larger;
}
